    :root {
        --orange: #FF7143;
        --grey: #696871;
        --black: #19191B;
        --blue: #5454D4;
    }


    * {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .header_container {
        max-width: 1069px;
        margin-inline: auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .header_nav {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }


    .header_list {
        display: flex;
        gap: 49px;
    }

    .header_list-item-link {
        color: var(--grey);
        font-weight: 700;
        transition: color 0.2s;

    }

    .header_list-item-link:hover {
        color: var(--black);
    }

    .header_list-item-link.active {
        color: var(--black);
        font-weight: 700;
        border-bottom: 2px solid var(--blue);
        padding-bottom: 10px;
    }

    .header_btn-getstart {
        padding: 19px 59px;
        border-radius: 10px;
        background-color: var(--orange);
        color: white;
        font-weight: 700;
    }

    .hero_button-getstart {
        padding: 19px 59px;
        border-radius: 10px;
        background-color: var(--blue);
        color: white;
        font-weight: 700;
    }

    .hero_container {
        max-width: 1069px;
        margin-inline: auto; 

    }

    .hero_title {
        max-width: 423px;
        padding-block: 90px;
    }

    .hero_title-head {
        font-size: 70px;
        font-weight: 700;
    }

    .hero_content {
        display: flex;
    }

    .hero_pose {
        margin-left: 200px;
    }

    .hero_title-para {
        padding-top: 30px;
        font-size: 21px;
        color: var(--grey);
    }

  .hero_buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap:20px;
  }

  .companies_container {
    max-width: 1069px;
    margin-inline: auto;
  }


.companies_container-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.infofirst_container {
    margin-top: 90px;
    max-width: 1069px;
    margin-inline: auto;
}

.infofirst_content {
    display: flex;
    gap: 300px;
}

.infofirst_title {
    padding-block: 90px;
    max-width: 556px;

}

.infofirst_index {
    font-size: 50px;
}

.infofirst_para {
    margin-top: 50px;
    font-size: 20px;
}

.infofirst_learn {
    font-size: 17px;
    margin-top: 25px;
    color: var(--blue);
}